mat-table {
    overflow: auto;
    height:500px;
    background-color: #e0e0e0;
    table-layout: fixed;
    width: 1000px;
    
}

.arrowStyle
{
    margin-top: 200px;
    padding-left: 20px;
}

.customAngle
{
    font-size: 85px;
            color: #20749ca8;
}

.customAngle:active{
    color: #0c1011a8;
}