mat-table {
  overflow: auto;
  height: 475px;
  background-color: #e0e0e0;
  table-layout: fixed;
  width: 1000px;

}

.arrowStyle {
  margin-top: 200px;
  padding-left: 20px;
}

.customAngle {
  font-size: 85px;
  color: #20749ca8;
}

.customAngle:active {
  color: #0c1011a8;
}

.customWidthClass{
  flex: 0 0 85px;
}

.customWidthCss{
  flex: 0 0 200px;
}

.customWidthfilename{
  flex: 0 0 400px;
  text-overflow: ellipsis;
}