<app-header></app-header>

  <span style=" padding: 30px;
  font-size: 11.5px;"><i class="fa fa-tag" style="width: 12px;"></i>Click on each row to view in detail</span>

<div class="row" style="width: fit-content;">
  <div class="col-md-2">
    <section class="arrowStyle"><i matTooltip="Back to HomePage" class="fa fa-angle-double-left customAngle"
                                   (click)="gotoHome()"></i></section>
  </div>
  <div class="col-md-10">
    <mat-table id="style-7" [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'">ID</mat-header-cell>
        <mat-cell *matCellDef="let data" [ngClass]="'customWidthClass'">{{data.id}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef  [ngClass]="'customWidthCss'">Type</mat-header-cell>
        <mat-cell *matCellDef="let data" [ngClass]="'customWidthCss'">{{data.type}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="fileName">
          <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthfilename'">FileName</mat-header-cell>
          <mat-cell *matCellDef="let data" [ngClass]="'customWidthfilename'" matTooltip="{{data.fileName}}">{{data.fileName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef>Created Date</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.createdAt | date:"medium"}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row (click)="getRecord(row)" *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
