.uploadSection {
  display: block;
  background: #c3cbd440;;
  padding-top: 10px;
  padding-left: 25px;
  border-radius: 9px;
  padding-bottom: 11px;
  border-radius: 9px;
  -moz-box-shadow: inset 0 0 10px #8caaca;
  -webkit-box-shadow: inset 0 0 10px #8caaca;
  box-shadow: inset 0 0 10px #8caaca
}

.previewSection {
  display: block;
  height: 350px;
  background: #c3cbd440;
  padding-top: 45px;
  padding-left: 15px;
  border-radius: 9px;
  -moz-box-shadow: inset 0 0 10px #8caaca;
  -webkit-box-shadow: inset 0 0 10px #8caaca;
  box-shadow: inset 0 0 10px #8caaca;
  word-break: break-all;

}

pre {
  overflow: initial !important;
}

/* input[type='file']{
    color:blue;
    font-size:25px;
  } */
/* .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
} */

.file-upload {
  display: block;
  text-align: center;
  font-family: Helvetica, Arial,
  sans-serif;
  font-size: 14px;
  width: 265px;

}

.file-select {
  display: block;
  border: 1.5px solid rgb(105, 113, 122);
  color: #1d1e1f;
  cursor: pointer;
  height: 40px;
  line-height: 11px;
  text-align: left;
  background: #ecf1f7;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.file-select-button {
  background: #759eb2;
  display: inline-block;
  height: 40px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-top: 15px;
  padding-right: 10px;
}

.file-select-name {
  white-space: nowrap;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  padding: 0 10px;
  color: rgb(150, 149, 149);
}

/* .file-upload .file-select .file-select-name
{
    line-height:40px;display:inline-block;padding:0 10px;

} */
.file-select:hover {
  border-color: #2c2d2e;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
  background: #373738;
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select {
  border-color: #222c26;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
  background: #222c26;
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.file-upload .file-select input[type=file] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  border: 0;
  /* clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px; */


}

.file-upload .file-select.file-select-disabled {
  opacity: 0.65;
}

.file-upload .file-select.file-select-disabled:hover {
  cursor: default;
  display: block;
  border: 2px solid #dce4ec;
  color: #3e5c7a;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  text-align: left;
  background: #FFFFFF;
  overflow: hidden;
  position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button {
  background: #e4e5e7;
  color: #666666;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name {
  line-height: 40px;
  display: initial;
  padding: 0 10px;

}

.customClass {
  background-color: #759eb2;
  border-color: rgba(0, 0, 0, 0.14);
  color: #2b2727;
  border: 1px solid rgb(105, 113, 122);
  width: 100px;
  border-radius: 8px;
  margin: 5px;

}

.customClass:hover {
  background-color: #373738;
  color: #FFFFFF;
  border-color: #2c2d2e;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.viewCustom {
  background-color: #759eb2;
  border-color: rgba(0, 0, 0, 0.14);
  color: #2b2727;
  border: 1px solid rgb(105, 113, 122);
  border-radius: 8px;
}

.viewCustom:hover {
  background-color: #373738;
  color: #FFFFFF;
  border-color: #2c2d2e;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.errorMessageDis {
  text-align: center;
  padding: 25px;
}

.mousePointer {
  cursor: not-allowed;
}

.scrollScreen {
  overflow: scroll;
}


input[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

.chooseFileCss {
  background: #759eb2;
  border: 1.5px solid rgb(105, 113, 122);
  color: #1d1e1f;

  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: inherit;
  font-weight: 600;
  outline: none;
  padding: 1rem 25px;
  position: relative;
  transition: all 0.3s;
  border-radius: 8px;
}

.chooseFileCss:hover {
  background-color: #070707;
  color: #fff
}

.textAreaSection {
  height: 347px;
  width: -webkit-fill-available;
  margin-top: 0px;
  margin-bottom: 0px;
  resize: none;
  background: #c3cbd440;
  border-radius: 9px;
  -moz-box-shadow: inset 0 0 10px #8caaca;
  -webkit-box-shadow: inset 0 0 10px #8caaca;
  box-shadow: inset 0 0 10px #8caaca;
  word-break: break-all;
  outline: none;

}
