<!-- <mat-toolbar color="primary">
    <span>Responsive Navigation</span> <span class="example-spacer"></span>
    <a href="#" mat-button>Menu Item 1</a> <a href="#" mat-button>Menu Item 2</a>
    <a href="#" mat-button>Menu Item 3</a> <a href="#" mat-button>Menu Item 4</a>
    <a href="#" mat-button>Menu Item 5</a> <a href="#" mat-button>Menu Item 6</a>
  </mat-toolbar> -->

  <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="navbar-nav">
          <div class="pull-left">
            <h3 style="color:whitesmoke">Cloud Formation Script Validator</h3>
          </div>
          <div class="pull-right">
              {{dateDisplay | date :"shortTime" }}
          </div>
       
      </div>
  </nav> -->
  
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container-fluid">
        <a href="#" class="navbar-brand mr-3">Cloud Formation Script Validator</a>
        <div class="navbar-nav ml-auto" style="color:whitesmoke">
            {{dateDisplay | date :"MMM d, y h:mm a" }}
        </div>
       </div>    
</nav>


